
# /
/smook
/temp
/test-output
/build
/classes
/.settings
/target
/cobertura.ser


# /docs/
/docs/api

# /samples/
/samples/lib

# /samples/MTOMSample/
/samples/*/build
/samples/*/classes
/samples/*/log
